/* page.module.css */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f0f4f8;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add this to contain the spinning image */
  overflow: hidden; /* Add this to prevent the image from going out of bounds */
}


.title {
  font-size: 2rem; /* Adjust size as needed */
  margin: 0;
}

/* Next.js Image component uses the .next-image class */
.next-image {
  display: block;
  max-width: 100%;
  height: auto;
  /* Set the height to match your h1 - This might require adjusting based on your actual text size */
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 2s infinite linear;
}

